@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html,textarea{ overflow: auto; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
img,input,button { vertical-align: middle;}
a { color: #3C3C3C;}
a:link,a:visited { text-decoration: none;}
a:hover,a:active { text-decoration: underline;}
p { line-height: 1.5; }
body {
    font: 12px/1 'DeliciousHeavyRegular';
    color: #333;
    .background('images/bg.png', 0, 0, repeat);
    width:100%;position:relative;overflow-x:hidden;
}
.ie6 body{background-attachment:fixed;}
.background(@url, @x: 0, @y: 0, @repeat: no-repeat){
    background: url(@url) @x @y @repeat;
}
.header-wrap{
    width: 100%;
    height: 72px;
    .background('images/bg.png', 0, 0, repeat);
    position: fixed;
    text-align: center;
    z-index: 100;
    .header{
        color: #3C3C3C;
        font-size: 26px;
        font-weight: 700;
        line-height: 72px;
        vertical-align: middle;
    }
}
.wrapper{
    width: 960px;
    margin: 0 auto;
    padding: 120px 35px 105px;
    .content{
        .contact{
            width: 185px;
            padding-right: 75px;
            position: fixed;
            .avatar{
                width: 179px;
                height: 179px;
                padding: 6px;
                .background('images/sprite.png');
            }
            .nav{
                padding: 10px 0;
                h3{
                    font-size: 16px;
                    line-height: 24px;
                    padding: 5px 6px;
                    &:hover{
                        background: #FCFC9B; 
                    }
                }
                .second-nav{
                    h4{
                        font-size: 16px;
                        line-height: 24px;
                        padding: 5px 0 5px 30px;
                        &:hover{
                            background: #FCFC9B; 
                        }
                    }
                }
            }
            .about{
                h3{
                    color: #3C3C3C;
                    font-size: 16px;
                    line-height: 24px;
                    padding: 5px;
                }
            }
        }
        .show{
            padding: 0 0 0 230px;
        }
        .contact-way{
            position: fixed;
            left: 900px;
            h3,p{
                padding: 5px;
                color: #3C3C3C;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}
.p-content{
    position: relative;
    width: 421px;
    .p-ct{
        _zoom: 1;
        .background('images/text_bg.jpg', 0, 0, repeat-y);
        h3{
            color:#B82D2D;
            font-size: 16px;
            padding: 6px 20px 20px;
            line-height: 32px;
        }
        p{
            font-size: 14px;
            color:#88766B;
            line-height: 28px; 
            padding: 2px 10px;
        }
    }
}
.p-header{
    height: 43px;
    .background('images/sprite.png', -211px, 0);
}
.p-footer{
    height: 25px;
    .background('images/sprite.png', -211px, -45px);
}
.p-sign{
    position:absolute;
    top: 40px;
    right: 0;
    width: 102px;
    height: 42px;
    .background('images/sprite.png', -693px, -12px);
}
.bottom{
    padding:0 0 30px 30px;
}
.photo-area{
    padding-top: 50px;
    .photo{
        width: 445px;
        height: 389px;
        padding: 26px 28px;
        .background('images/sprite.png', -207px, -110px);
    }
}
